themes/rowery/template/src/components/footer/footer.pug
footer.footer
  .container
    .footer__flex
      .footer__item
        .footer__link ® Copyrights
          a(href='./')  nazwadomeny

      .footer__item
        .footer__link Projekt i realizacja
          a(href='http://www.mal.net.pl/' target='_blank')  mal.net.pl

themes/rowery/inc/footer.html
    {include: themes/".$settings.theme."/inc/contact.html}

    {$googlemap}

    </main>

    <div class="footer">
        <div class="container">
            <div class="footer__flex">
                <div class="footer__item">
                    <div class="footer__link">{$settings.footer}</div>
                </div>
                <div class="footer__item">
                    <div class="footer__link">
                        {$bat.powered}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{$bat.path}/themes/{$settings.theme}/dist/js/lib.js"></script>
    <script src="{$bat.path}/themes/{$settings.theme}/dist/js/prod.js"></script>

    {loop: $bat.footer}{$value}{/loop}
</body>

</html>
